@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Outfit";
  scroll-behavior:smooth;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  min-height: 100vh;
}
.app{
  width:100%;
  margin: auto;
  height: 100%;

}


